<ion-header>
  <ion-toolbar>
    <ion-title>cust-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ads</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      gambar
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <img src="" alt="">
      <ion-label>nama product</ion-label>
      
    </ion-item>
  
    <ion-card-content>
      harga<ion-button fill="outline" slot="end">Quick View</ion-button>
    </ion-card-content>
    
  </ion-card>
  
  <ion-card>
    <ion-item>
      <img src="" alt="">
      <ion-label>nama product</ion-label>
      
    </ion-item>
  
    <ion-card-content>
      harga<ion-button fill="outline" slot="end">Quick View</ion-button>
    </ion-card-content>
    
  </ion-card>
</ion-content>
